@model AdminLteMvc.Models.WEBSales.Booking
@{
    ViewBag.Title = "Edit Booking";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box box-success">
         <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="mnemonic">Mnemonic</label> <br />
                            <select id="mnemonic" class="form-control">
                                <option value="0">-- Select mnemonic --</option>
                                @{
                                    foreach (var item in ViewBag.MnemonicList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="cnmshpr">Customer Name/ Shipper</label><br />
                            <select id="cnmshpr" class="form-control" disabled="disabled">
                                <option value="0">-- Select name or shipper --</option>
                                @{
                                    foreach (var item in ViewBag.CustomerShipperList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="billto">Bill To</label>
                            @Html.EditorFor(model => model.billTo, new { htmlAttributes = new { @class = "form-control", id = "billto" } })
                        </div>

                        <div class="form-group">
                            <label for="preparedBy">Prepared By</label>
                            @Html.EditorFor(model => model.preparedBy, new { htmlAttributes = new { @class = "form-control", id = "preparedBy" } })
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="ddate">Document Date</label>
                            @Html.EditorFor(model => model.docDate, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "ddate", @readonly = true } })
                        </div>

                        <div class="form-group">
                            <label for="dNum">Document Number</label>
                            @Html.EditorFor(model => model.docNum, new { htmlAttributes = new { @class = "form-control", id = "dNum", @readonly = true } })
                        </div>

                        <div class="form-group">
                            <label for="csize">ConVan Size</label><br />
                            <select id="csize" class="form-control">
                                <option value="0">-- Select size --</option>
                                @{
                                    foreach (var item in ViewBag.ConVanSizesList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="cstatus">ConVan Status</label><br />
                            <select id="cstatus" class="form-control">
                                <option value="0">-- Select status --</option>
                                @{
                                    foreach (var item in ViewBag.ConVanStatusList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }

                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                @Html.EditorFor(model => model.docYear, new { htmlAttributes = new { @class = "form-control", id = "docYear", @readonly = true } })
                @Html.EditorFor(model => model.docID, new { htmlAttributes = new { @class = "form-control", id = "docID", @readonly = true } })
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-primary" id="submit"> <i class="fa fa-pencil fa-1x"></i> Save </button>
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Booking")'"> <i class="fa fa-trash fa-1x"></i> Cancel</button>
        </div>
    </div>
}

<link href="~/Content/bootstrap-toggle.css" rel="stylesheet" />
<script src="~/Scripts/bootstap-toggle.js"></script>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")

<script type="text/javascript">
    $(function () {
        $("#mnemonic").chosen();
        $("#cnmshpr").chosen();
        //$("#billto").chosen();
        $("#csize").chosen();
        $("#cstatus").chosen();
    });

    $(document).ready(function () {
        var m = @Html.Raw(Json.Encode(Model.mnemonic));
        var cs = @Html.Raw(Json.Encode(Model.cnameshpr));
        var csz = @Html.Raw(Json.Encode(Model.csize));
        var cstat = @Html.Raw(Json.Encode(Model.cstatus));

        $("#mnemonic").val(m).trigger("chosen:updated");
        $("#cnmshpr").val(cs).trigger("chosen:updated");
        $("#csize").val(csz).trigger("chosen:updated");
        $("#cstatus").val(cstat).trigger("chosen:updated");

        $("#docYear").css("display", "none");
        $("#docID").css("display", "none");

            $('#submit').click(function () {
                var isAllValid = true;
                if (isAllValid) {

                    var trnID = @Html.Raw(Json.Encode(Model.ID));
                    var bkYr = @Html.Raw(Json.Encode(Model.docYear));
                    var bkID = @Html.Raw(Json.Encode(Model.docID));

                    var dataHdr = {
                        ID: trnID,
                        docDate: $('#ddate').val(),
                        docNum: $('#dNum').val(),
                        billTo: $('#billto').val(),
                        mnemonic: $('#mnemonic').val(),
                        cnameshpr: $('#cnmshpr').val(),
                        csize: $('#csize').val(),
                        cstatus: $('#cstatus').val(),
                        trnStatus: "Active",
                        preparedBy: $('#preparedBy').val(),
                        docYear: $('#docYear').val(),
                        docID: $('#docID').val()
                    }
                    console.log(dataHdr);

                    $.ajax({
                        type: 'POST',
                        url: '../../../Booking/UpdateHdr',
                        data: JSON.stringify(dataHdr),
                        contentType: 'application/json',
                        success: function (dataHdr) {
                            if (dataHdr.status) {
                                //alert('Successfully saved');

                                $.notify("Operation successfully posted.", "success");
                                var url = '@Url.Action("Index")';
                                window.location.href = url;
                            }
                            else {
                                //alert('Error');
                                $.notify("Operation failed to post.", "error");
                            }
                            $('#submit').text('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#submit').text('Save');
                        }
                    });


                }

            });//end

        });
</script>
}
